{{! shows vendor home page, stock , sales (redirect), add product form(hidden), update product form (hidden) }}

{{! vendor profile/ home }}
<div>
  <h1>Vendor Profile</h1>
</div>
{{! sales }}
<div>
  <h2>Sales</h2>
  <p>render our sales using handlebars syntax</p>
</div>

{{! new prod form }}
<form id="newProdForm">
  <h3>New Product Entry</h3>
  <div>
    <label for="newProd-name">Name:</label>
    <input class="form-input" type="text" id="newProd-name" />
  </div>
  <div>
    <label for="newProd-desciprion">Description:</label>
    <input class="form-input" type="text" id="newProd-description" />
  </div>
  <div>
    <label for="newProd-price">Price:</label>
    <input class="form-input" type="text" id="newProd-price" />
  </div>
  <div>
    <label for="newProd-stock">Quantity:</label>
    <input class="form-input" type="number" id="newProd-stock" min ="0">
  </div>
  <div>
    <label for="newProd-image">Image URL:</label>
    <input class="form-input" type="text" id="newProd-image" />
  </div>
  <div>
   
    <label for="newProd-category">Category ID:</label>
    <input class="form-input" type="number" id="newProd-category" min="1" max="19" />
  </div>
  <div>
    <button class="btn" type="submit">New Product Create</button>
  </div>
</form>
{{! all prod }}
<div>
  <h2>All Products</h2>
  <div>

</div>
{{! edit product likely redirect }}
<div>
  <form>
    <div >
      <label>edit view:</label>
      <input class="box" id="toggleBox" type="checkbox">
    </div>
    
  </form>
 <div id="editForm">
  {{#each newData}}
    <form id="devView" data-id="{{id}}">
      <div >
        <label>ID:</label>
        <input class = "ID" value ="{{id}}" readonly>
      </div>
    
       <div>
        <label>Name:</label>
        <input class="Nam" value="{{name}}">
      </div>
        <div>
        <label>Description:</label>
        <input class="Desc" value="{{description}}">
      </div>
       <div>
        <label>Price:</label>
        <input class="Pric" value="{{price}}">
      </div>
       <div>
        <label>Quantity:</label>
        <input class="Quant" value="{{stock}}">
      </div>
      <div><button >edit</button></div>
      
      </form>
  {{/each}}
  </div>
  <div id="normal">
    {{#each newData}}
      <div >
        <p>id:{{id}}</p>
        <p>Name: {{name}} </p>
        <p>Description: {{description}}</p>
        <p>Price: {{price}}</p>
        <p>Quantity: {{stock}}</p>
      </div>
    {{/each}}
    </div>
 </div>


<script src = "/js/editForm.js"></script>


